<div class="contact-list">
  <h1 class="text-center">Contact List</h1>
  <div>
    <input [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" placeholder="Search contacts..." />
  </div>
  <div class="d-flex justify-content-end">
    <button (click)="addContact()" class="btn btn-primary">Add New Contact</button>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Firts Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems:totalItems }">
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-primary btn-sm" (click)="viewContact(contact.id)" title="Detail"><i class="ri-eye-line"></i></button>
            <button class="btn btn-warning btn-sm" (click)="editContact(contact.id)" title="Edit"><i class="ri-edit-line"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deleteContact(contact.id)" title="Trash"><i class="ri-delete-bin-6-line"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>
